.alfajor {
    background-color: #9795D5;
    display: flex;
    width: 400px;
    height: 400px;
  }

  .shine {


  }
  .cover {
    position: absolute;
   background-color: #271B02;
    width: 400px;
    height: 400px;
    clip-path: path(evenodd, "M349 59.5C349 61.2642 348.777 63.0105 348.339 64.7357C349.693 69.299 349.212 74.4556 348.93 77.476C348.843 78.4078 348.775 79.1362 348.786 79.5813C348.939 85.9565 350.546 91.8696 351.731 96.2317L351.731 96.232C352.411 98.7329 352.952 100.724 353.001 102C353.342 110.849 351.288 119.148 349.919 124.681C349.348 126.989 348.896 128.815 348.786 130C348.537 132.684 348.663 133.582 348.827 134.755C349.061 136.433 349.374 138.674 348.786 147.5L347.747 156.303C348.574 158.662 349 161.064 349 163.5C349 178.069 333.776 191.415 308.501 201.758C283.068 183.01 273.527 185.694 261.951 188.95C255.091 190.879 247.517 193.009 235.5 191C212.397 187.139 204.207 193.287 196.398 199.15C193.2 201.55 190.067 203.902 186 205.5C178.378 208.494 174.313 211.637 172.191 214.685C171.597 218.59 170.89 221.466 170.146 222.352C170.241 222.564 170.348 222.77 170.466 222.97C77.4819 221.965 3.00006 195.724 3.00006 163.5C3.00006 161.91 3.18144 160.334 3.53746 158.776C1.32891 150.626 -0.198356 141.867 1.5001 137.5C3.41324 132.581 3.23483 131.08 2.67979 126.412C2.2194 122.54 1.49989 116.489 1.49989 104.5C1.49989 100.643 1.26847 97.1491 1.04368 93.7556C0.458097 84.9156 -0.0824752 76.755 3.63024 64.6144C3.21297 62.9287 3.00006 61.2229 3.00006 59.5C3.00006 26.6391 80.4548 0 176 0C271.545 0 349 26.6391 349 59.5Z" 
  )
  }

  .cover::before{
    position: absolute;
    filter: contrast(100%) brightness(300%);
    content: '';
    opacity: 40%;
    background: 
      radial-gradient(circle, rgba(39,27,2,1), rgba(9, 1, 1, 0.95)), url(/noise.svg);
    width: 400px;
    height: 400px;
    clip-path: path(evenodd, "M349 59.5C349 61.2642 348.777 63.0105 348.339 64.7357C349.693 69.299 349.212 74.4556 348.93 77.476C348.843 78.4078 348.775 79.1362 348.786 79.5813C348.939 85.9565 350.546 91.8696 351.731 96.2317L351.731 96.232C352.411 98.7329 352.952 100.724 353.001 102C353.342 110.849 351.288 119.148 349.919 124.681C349.348 126.989 348.896 128.815 348.786 130C348.537 132.684 348.663 133.582 348.827 134.755C349.061 136.433 349.374 138.674 348.786 147.5L347.747 156.303C348.574 158.662 349 161.064 349 163.5C349 178.069 333.776 191.415 308.501 201.758C283.068 183.01 273.527 185.694 261.951 188.95C255.091 190.879 247.517 193.009 235.5 191C212.397 187.139 204.207 193.287 196.398 199.15C193.2 201.55 190.067 203.902 186 205.5C178.378 208.494 174.313 211.637 172.191 214.685C171.597 218.59 170.89 221.466 170.146 222.352C170.241 222.564 170.348 222.77 170.466 222.97C77.4819 221.965 3.00006 195.724 3.00006 163.5C3.00006 161.91 3.18144 160.334 3.53746 158.776C1.32891 150.626 -0.198356 141.867 1.5001 137.5C3.41324 132.581 3.23483 131.08 2.67979 126.412C2.2194 122.54 1.49989 116.489 1.49989 104.5C1.49989 100.643 1.26847 97.1491 1.04368 93.7556C0.458097 84.9156 -0.0824752 76.755 3.63024 64.6144C3.21297 62.9287 3.00006 61.2229 3.00006 59.5C3.00006 26.6391 80.4548 0 176 0C271.545 0 349 26.6391 349 59.5Z" 
  );
  }
  
  .cover::after{
    position: absolute;
    filter: contrast(100%) brightness(0%);
    content: '';
    opacity: 10%;
    top: 62px;
    background: 
    linear-gradient(75deg, rgba(39,27,2,1), rgba(9, 1, 1, 0.95), rgba(237, 228, 228, 0.5)), url(/noise.svg);
    width: 400px;
    height: 400px;
    clip-path: path(evenodd, "M2.8385 0.888711C2.88986 1.13101 2.94544 1.37291 3.00522 1.6144C-0.707498 13.755 -0.166926 21.9156 0.418654 30.7556C0.643444 34.1491 0.874867 37.6427 0.874867 41.5C0.874867 53.4892 1.59438 59.5403 2.05476 63.4122C2.60981 68.0801 2.78821 69.5805 0.875079 74.5C-0.823379 78.8675 0.703892 87.6259 2.91244 95.7755C2.55641 97.3342 2.37504 98.9098 2.37504 100.5C2.37504 132.724 76.8569 158.965 169.841 159.97C169.723 159.77 169.616 159.564 169.521 159.352C170.265 158.466 170.972 155.59 171.566 151.685C173.688 148.637 177.753 145.494 185.375 142.5C189.442 140.902 192.575 138.55 195.773 136.15C200.348 132.715 205.055 129.182 212.815 127.621C205.054 129.181 200.348 132.715 195.772 136.15C192.575 138.55 189.442 140.902 185.375 142.5C178.396 145.242 174.399 148.108 172.145 150.912L172.333 149.674L172.333 149.673C174.338 136.468 175.998 125.537 175.998 115.5C175.998 107.589 172.49 97.8269 168.276 86.1003C165.565 78.5565 162.561 70.1998 160.012 61.0002C159.257 58.2744 158.459 55.5823 157.644 52.9699L157.669 52.9701L157.642 52.9287L157.621 52.8945C157.553 52.6757 157.484 52.4574 157.416 52.2397C157.507 52.1218 157.597 51.9788 157.687 51.8122C94.4623 49.5127 38.6932 26.4317 2.8385 0.888711ZM307.306 35.7297C308.27 56.7519 304.954 93.21 302.731 105.5C301.093 114.553 305.118 128.35 308.98 138.301C308.614 138.454 308.246 138.607 307.875 138.758L307.876 138.758C333.151 128.415 348.375 115.069 348.375 100.5C348.375 98.0639 347.949 95.662 347.122 93.3026L348.161 84.5C348.749 75.6739 348.436 73.4329 348.202 71.7552C348.038 70.5815 347.912 69.6836 348.161 67C348.271 65.815 348.723 63.9886 349.294 61.6812C350.663 56.1477 352.717 47.8486 352.376 39C352.327 37.724 351.786 35.7329 351.106 33.232L351.106 33.2317C350.147 29.7025 348.913 25.1583 348.395 20.1754C337.497 26.0054 323.588 31.2543 307.306 35.7297ZM261.325 125.949C262.049 125.746 262.764 125.545 263.476 125.351C262.765 125.545 262.049 125.746 261.326 125.949L261.326 125.95C260.832 126.088 260.334 126.228 259.831 126.368C260.334 126.228 260.831 126.088 261.324 125.95L261.325 125.949Z"
  )
  }


  .inner {
    position: absolute;
    top: 82px;
    left: 165px;
    width: 400px;
    height: 400px;
    filter: contrast(100%) brightness(100%);
    background: 	
      linear-gradient(5deg, rgba(83,64,33,1), rgba(118,85,32,0.8)), url(/noise.svg);
   
    clip-path: path(evenodd,"M151.98 122.301C151.614 122.454 151.246 122.607 150.875 122.758C125.443 104.01 115.901 106.694 104.325 109.949C97.4657 111.879 89.8919 114.009 77.8746 112C54.7716 108.139 46.5813 114.287 38.7722 120.15C35.5749 122.55 32.4415 124.902 28.3746 126.5C21.3955 129.242 17.3985 132.108 15.1448 134.912C15.2077 134.497 15.2704 134.084 15.3328 133.674C17.3382 120.468 18.9982 109.537 18.9982 99.5002C18.9982 91.5893 15.4898 81.8269 11.2756 70.1003C8.56452 62.5565 5.56132 54.1998 3.0121 45.0002C2.2568 42.2744 1.45929 39.5823 0.644389 36.9699L0.668611 36.9701C0.652505 36.945 0.636594 36.9198 0.62088 36.8946C0.552545 36.6757 0.484089 36.4574 0.415527 36.2397C1.18824 35.24 1.92167 32.4371 2.54115 28.6848C4.84444 25.6364 9.25636 22.4941 17.5278 19.5001C21.9416 17.9023 25.3423 15.55 28.8124 13.1497L28.8124 13.1497C37.2878 7.2872 46.1767 1.13861 71.2507 5.00006C84.2932 7.00864 92.5132 4.87863 99.9577 2.94956C112.453 -0.288387 122.764 -2.96029 150.03 15.4542C151.752 35.3909 148.113 76.3274 145.731 89.5002C144.093 98.5535 148.118 112.35 151.98 122.301Z" 
  )
  }
  
  .inner::before {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: #271B02;
    clip-path: path(evenodd,"M1.06377 39.0687C1.44206 37.7443 1.79967 36.0324 2.12571 34.0574C4.429 31.009 8.84092 27.8668 17.1123 24.8727C21.5262 23.275 24.9269 20.9227 28.3969 18.5224L28.3969 18.5224C36.8723 12.6599 45.7613 6.51128 70.8352 10.3727C83.8778 12.3813 92.0977 10.2513 99.5423 8.32223C112.091 5.07038 122.437 2.38945 149.967 21.0652C149.894 18.8228 149.779 16.7292 149.614 14.8268C122.349 -3.58762 112.038 -0.915717 99.5422 2.32223C92.0976 4.2513 83.8777 6.38131 70.8351 4.37273C45.7612 0.511283 36.8722 6.65987 28.3969 12.5224L28.3969 12.5224C24.9268 14.9227 21.5261 17.275 17.1122 18.8727C8.84084 21.8668 4.42891 25.009 2.12563 28.0574C1.50614 31.8098 0.772708 34.6126 0 35.6124C0.0685618 35.8301 0.137018 36.0484 0.205353 36.2672C0.221067 36.2925 0.236977 36.3177 0.253083 36.3428L0.228862 36.3426C0.509566 37.2425 0.788205 38.1518 1.06377 39.0687Z"
  )
  }
  .inner::after {
    content: '';
    position: absolute;
    top: 32px;
  left: 5px;
    width: 400px;
    height: 400px;
    filter: contrast(100%) brightness(50%);
    background: 	
    linear-gradient(174deg, rgba(76,39,9,1) 0%, rgba(224,142,34,0.82) 20%, rgba(76,39,9,1) 70%), url(/noise.svg);
    background-color: #4C2709;
    clip-path: path(evenodd,"M0.236334 24.5064C2.37508 23.8121 4.9165 22.9909 7.99941 21.9999C10.2851 21.2652 12.6645 19.7099 15.5598 17.8173C19.722 15.0965 24.9505 11.6788 32.5 8.99991C43.6756 5.03437 46.5336 5.22763 52.6932 5.64413C55.0767 5.8053 57.9546 5.9999 62 5.9999C68.7397 5.9999 73.1127 4.48902 77.2141 3.07197C81.9367 1.44033 86.2992 -0.0669202 93.5 0.999911C98.5258 1.7445 102.235 2.62766 105.659 3.44303C111.433 4.81784 116.397 5.9999 125.499 5.9999C134.605 5.9999 139.964 7.77441 145.292 10.3329C144.806 24.8472 143.44 40.9564 142.093 52.0353C141.815 51.9015 141.553 51.7654 141.291 51.6295C138.218 50.0354 135.201 48.4697 108 51C93.4918 52.3496 85.3585 51.8778 77.6084 51.4282C73.8735 51.2115 70.2276 51 66 51C56.1385 51 41.5 56.5 34 61.5C27.5088 65.8275 24.0135 66.0349 13.4658 65.6882C12.3308 58.9495 9.51124 51.1039 6.27559 42.1003C4.32115 36.6619 2.21488 30.801 0.236334 24.5064Z" 
  )
  }

  .crumbs {
    position: absolute;
    top: 202px;
  left: 190px;
    width: 400px;
    height: 400px;
    filter: contrast(100%) brightness(50%);
    background: 	
    linear-gradient(174deg, rgba(76,39,9,1) 0%, rgba(224,142,34,0.82) 20%, rgba(76,39,9,1) 70%), url(/noise.svg);
    background-color: #4C2709;
    clip-path: path(evenodd,"M28.5057 3.58256C27.4636 -0.539816 32.1599 0.637285 34.6384 1.74113C40.3985 5.71877 38.3801 10.4013 35.5001 8.4125C34.4699 7.70109 33.4484 7.53996 32.5016 7.39062C30.8016 7.12245 29.3424 6.89227 28.5057 3.58256ZM59.8355 7.33371C57.1154 6.87315 52.6254 7.2158 56.4261 12.2709C61.1771 18.5898 73.1193 9.21522 59.8355 7.33371ZM85.6381 32.4432C83.6037 32.4561 79.9032 33.7086 81.3763 38.6147C82.4747 42.2725 82.9493 41.8248 83.8583 40.9677C84.4732 40.3877 85.287 39.6203 86.6271 39.8101C89.9481 40.2805 92.8187 34.3636 85.6381 32.4432ZM58.7179 24.7909C57.0427 25.4569 56.063 25.9957 56.7291 27.6709C57.3952 29.3461 58.9136 29.787 59.6386 27.8572C60.3637 25.9273 60.3637 25.9273 58.7179 24.7909ZM83.3958 8.4125C85.5539 5.28727 84.1556 5.54934 82.4212 5.87441C81.4156 6.06289 80.2969 6.27255 79.6929 5.85546C76.8544 3.89532 75.8634 8.56687 75.2994 11.2253C75.1277 12.0349 74.9956 12.6578 74.8629 12.8499C74.2947 13.6727 79.9864 13.3497 83.3958 8.4125ZM71.2259 65.6326C67.2214 65.0953 67.343 71.2556 68.9919 75.0273C70.6407 78.799 79.3398 81.1603 75.9179 75.5566C74.3718 73.0248 74.0825 70.8647 73.8606 69.2076C73.5913 67.1971 73.4212 65.9272 71.2259 65.6326ZM31.8192 24.85C30.1113 24.6833 27.3794 24.9438 30.1145 27.3186C33.5333 30.287 34.2583 28.3572 31.8192 24.85ZM44.1032 36.9785C42.9212 35.7571 40.6785 34.3705 41.1642 38.5947C41.7714 43.875 43.7307 42.7975 44.8672 41.1518C46.0036 39.506 45.2738 37.9231 44.1032 36.9785ZM57.5827 43.8562C56.8462 41.4032 60.1626 41.5868 61.9128 41.9853C67.5149 42.74 63.2045 44.6281 61.217 45.4987L61.2169 45.4987C60.8774 45.6474 60.6057 45.7664 60.4628 45.845C59.4831 46.3838 58.5034 46.9225 57.5827 43.8562ZM96.8986 51.1564C98.1536 51.6855 100.342 53.2099 99.0536 55.0751C97.4436 57.4066 94.6319 59.7184 94.1226 56.9362C93.9582 56.0376 93.6949 55.2821 93.466 54.6251C92.986 53.2478 92.657 52.3035 93.7049 51.3816C94.9433 50.2923 96.35 50.7776 96.8986 51.1564ZM96.8986 7.33371C94.4173 5.20066 98.9324 3.22248 101.5 2.50002C103.947 1.60927 104.5 4.00001 104.5 7.33371C104.5 10.6674 100 10 96.8986 7.33371ZM1.0001 27.8572C1.66676 24.3237 4.0001 18.7754 8.0001 24.85C13.0001 32.4432 9.00006 32.4432 5.00008 32.4432C1.0001 32.4432 0.10726 30.8644 1.0001 27.8572ZM94.0001 20C93.0001 20.6667 91.3001 22.2 92.5001 23C92.6203 23.0802 92.747 23.1667 92.8785 23.2566C94.388 24.2885 96.5401 25.7596 97 23C97.5 20 95.5001 20 94.0001 20ZM21.2411 31.6999C20.048 32.0695 19.4059 32.2683 21 34.5C23.5 38 26.5001 40.5 26.5001 37.5C26.5001 36.7013 26.7482 35.8316 26.9896 34.9854C27.6549 32.6536 28.2692 30.5 23.5 30.5C22.7752 31.2248 21.9192 31.4899 21.2411 31.6999Z" 
  )
   
  }
  
  