.alfajor {
    background-color: #9795D5;
    background: #654ea3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 400px;
    height: 400px;
    --cover-path: "M349 59.5C349 61.2642 348.777 63.0105 348.339 64.7357C349.693 69.299 349.212 74.4556 348.93 77.476C348.843 78.4078 348.775 79.1362 348.786 79.5813C348.939 85.9565 350.546 91.8696 351.731 96.2317L351.731 96.232C352.411 98.7329 352.952 100.724 353.001 102C353.342 110.849 351.288 119.148 349.919 124.681C349.348 126.989 348.896 128.815 348.786 130C348.537 132.684 348.663 133.582 348.827 134.755C349.061 136.433 349.374 138.674 348.786 147.5L347.747 156.303C348.574 158.662 349 161.064 349 163.5C349 178.069 333.776 191.415 308.501 201.758C283.068 183.01 273.527 185.694 261.951 188.95C255.091 190.879 247.517 193.009 235.5 191C212.397 187.139 204.207 193.287 196.398 199.15C193.2 201.55 190.067 203.902 186 205.5C178.378 208.494 174.313 211.637 172.191 214.685C171.597 218.59 170.89 221.466 170.146 222.352C170.241 222.564 170.348 222.77 170.466 222.97C77.4819 221.965 3.00006 195.724 3.00006 163.5C3.00006 161.91 3.18144 160.334 3.53746 158.776C1.32891 150.626 -0.198356 141.867 1.5001 137.5C3.41324 132.581 3.23483 131.08 2.67979 126.412C2.2194 122.54 1.49989 116.489 1.49989 104.5C1.49989 100.643 1.26847 97.1491 1.04368 93.7556C0.458097 84.9156 -0.0824752 76.755 3.63024 64.6144C3.21297 62.9287 3.00006 61.2229 3.00006 59.5C3.00006 26.6391 80.4548 0 176 0C271.545 0 349 26.6391 349 59.5Z" 
  }



  .cover {
    position: absolute;
    margin: auto;
    background-color: #271B02;
    top: 90px;
    left: 30px;
    width: 400px;
    height: 400px;
    clip-path: path(evenodd, var(--cover-path))
  }

  .cover::before{
    position: absolute;
    filter: contrast(100%) brightness(300%);
    content: '';
    opacity: 40%;
    background: 
      radial-gradient(circle, rgba(39,27,2,1), rgba(9, 1, 1, 0.95)), 	url('/noise.svg');

    width: 400px;
    height: 400px;
    clip-path: path(evenodd, var(--cover-path));
  }
  
  .cover::after{
    position: absolute;
    filter: contrast(100%) brightness(0%);
    content: '';
    opacity: 10%;
    top: 58px;
    left: 1px;
    background: 
    linear-gradient(80deg, rgba(39,27,2,1) 0%, rgba(9, 1, 1, 0.95)30%, rgba(237, 228, 228, 0.5)60%), 	url('/noise.svg');
    width: 400px;
    height: 400px;
    clip-path: path(evenodd, "M348.355 0.407166C345.105 13.8392 330.296 25.8047 307.083 35.1005C308.674 55.2627 305.088 95.4681 302.731 108.5C301.093 117.554 305.118 131.35 308.98 141.301C308.614 141.454 308.246 141.607 307.875 141.758L307.876 141.758C333.151 131.415 348.375 118.069 348.375 103.5C348.375 101.064 347.949 98.662 347.122 96.3026L348.161 87.5C348.749 78.6739 348.436 76.4329 348.202 74.7552C348.038 73.5815 347.912 72.6836 348.161 70C348.271 68.8151 348.723 66.9886 349.294 64.6812C350.663 59.1477 352.717 50.8486 352.376 42C352.327 40.724 351.786 38.7329 351.106 36.232L351.106 36.2317C349.921 31.8696 348.314 25.9565 348.161 19.5813C348.15 19.1362 348.218 18.4078 348.305 17.476C348.587 14.4556 349.067 9.29904 347.714 4.73573C348.077 3.30675 348.292 1.8633 348.355 0.407166ZM157.646 54.8861C149.242 54.6127 140.685 54.154 132 53.5C67.2451 48.623 26.2051 27.513 2.83218 3.85897C2.88528 4.11122 2.94296 4.36303 3.00518 4.6144C-0.707537 16.755 -0.166965 24.9156 0.418615 33.7556C0.643405 37.1491 0.874828 40.6427 0.874828 44.5C0.874828 56.4892 1.59434 62.5403 2.05473 66.4122C2.60977 71.0801 2.78818 72.5805 0.87504 77.5C-0.823418 81.8675 0.703852 90.6259 2.9124 98.7755C2.55637 100.334 2.375 101.91 2.375 103.5C2.375 135.724 76.8569 161.965 169.841 162.97C169.723 162.77 169.616 162.564 169.521 162.352C170.264 161.466 170.972 158.59 171.566 154.685C173.688 151.637 177.753 148.494 185.375 145.5C189.442 143.902 192.575 141.55 195.773 139.15C200.338 135.723 205.033 132.198 212.762 130.632C205.033 132.198 200.337 135.722 195.772 139.15C192.575 141.55 189.441 143.902 185.375 145.5C178.395 148.242 174.398 151.108 172.145 153.912L172.333 152.674L172.333 152.673C174.338 139.468 175.998 128.537 175.998 118.5C175.998 110.589 172.49 100.827 168.276 89.1003C165.565 81.5565 162.561 73.1998 160.012 64.0002C159.257 61.2744 158.459 58.5823 157.644 55.9699L157.669 55.9701L157.642 55.9288L157.621 55.8946C157.553 55.6757 157.484 55.4574 157.416 55.2397C157.493 55.1396 157.57 55.0215 157.646 54.8861ZM261.326 128.95C261.325 128.95 261.325 128.95 261.324 128.95L261.325 128.949C261.687 128.848 262.047 128.747 262.405 128.647C262.047 128.746 261.688 128.848 261.326 128.949L261.326 128.95Z"
    
  )
  }


  .inner {
    position: absolute;
    top: 164px;
    left: 187px;
    width: 400px;
    height: 400px;
    filter: contrast(100%) brightness(100%);
    background: 	
      linear-gradient(5deg, rgba(83,64,33,1), rgba(118,85,32,0.8)), 	url('/noise.svg');
    clip-path: path(evenodd,"M151.98 122.301C151.614 122.454 151.246 122.607 150.875 122.758C125.443 104.01 115.901 106.694 104.325 109.949C97.4657 111.879 89.8919 114.009 77.8746 112C54.7716 108.139 46.5813 114.287 38.7722 120.15C35.5749 122.55 32.4415 124.902 28.3746 126.5C21.3955 129.242 17.3985 132.108 15.1448 134.912C15.2077 134.497 15.2704 134.084 15.3328 133.674C17.3382 120.468 18.9982 109.537 18.9982 99.5002C18.9982 91.5893 15.4898 81.8269 11.2756 70.1003C8.56452 62.5565 5.56132 54.1998 3.0121 45.0002C2.2568 42.2744 1.45929 39.5823 0.644389 36.9699L0.668611 36.9701C0.652505 36.945 0.636594 36.9198 0.62088 36.8946C0.552545 36.6757 0.484089 36.4574 0.415527 36.2397C1.18824 35.24 1.92167 32.4371 2.54115 28.6848C4.84444 25.6364 9.25636 22.4941 17.5278 19.5001C21.9416 17.9023 25.3423 15.55 28.8124 13.1497L28.8124 13.1497C37.2878 7.2872 46.1767 1.13861 71.2507 5.00006C84.2932 7.00864 92.5132 4.87863 99.9577 2.94956C112.453 -0.288387 122.764 -2.96029 150.03 15.4542C151.752 35.3909 148.113 76.3274 145.731 89.5002C144.093 98.5535 148.118 112.35 151.98 122.301Z" 
  )
  }
  
  .inner::before {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    left: 2px;
    background-color: #271B02;
    clip-path: path(evenodd, "M0 33.5L0.5 28L4 24.5L9 21.5L13.5 19.5L18.5 17.5L23.5 15L31 10L36.5 6.5L41.5 5L47.5 3.5L53 3H57.5L63 3.5L68 4L73 5L79.5 5.5L85.5 5L90.5 4L97.5 2.5L104.5 1L110.5 0H115.5L120.5 1L125 2.5L130.5 4.5L134.5 6.5L143 11.5L149 15V21L144.5 18L139.5 15L134.5 12L128 9L122.5 7L116.5 5.5H112H106.5L101 7L93.5 8.5L88 10L83 10.5H78.5L72 10L63.5 9L54.5 8.5L46 9L40 10.5L31 14.5L24.5 19.5L18.5 23L14 24.5L9.5 26.5L5 29L1 32.5L0 33.5Z" 
  )
  }

  .inner::after {
    content: '';
    position: absolute;
    top: 32px;
    left: 5px;
    width: 400px;
    height: 400px;
    filter: contrast(100%) brightness(50%);
    background: 	
    linear-gradient(174deg, rgba(76,39,9,1) 0%, rgba(224,142,34,0.82) 20%, rgba(76,39,9,1) 70%), 	url('/noise.svg');
    background-color: #4C2709;
    clip-path: path(evenodd,"M0.236334 24.5064C2.37508 23.8121 4.9165 22.9909 7.99941 21.9999C10.2851 21.2652 12.6645 19.7099 15.5598 17.8173C19.722 15.0965 24.9505 11.6788 32.5 8.99991C43.6756 5.03437 46.5336 5.22763 52.6932 5.64413C55.0767 5.8053 57.9546 5.9999 62 5.9999C68.7397 5.9999 73.1127 4.48902 77.2141 3.07197C81.9367 1.44033 86.2992 -0.0669202 93.5 0.999911C98.5258 1.7445 102.235 2.62766 105.659 3.44303C111.433 4.81784 116.397 5.9999 125.499 5.9999C134.605 5.9999 139.964 7.77441 145.292 10.3329C144.806 24.8472 143.44 40.9564 142.093 52.0353C141.815 51.9015 141.553 51.7654 141.291 51.6295C138.218 50.0354 135.201 48.4697 108 51C93.4918 52.3496 85.3585 51.8778 77.6084 51.4282C73.8735 51.2115 70.2276 51 66 51C56.1385 51 41.5 56.5 34 61.5C27.5088 65.8275 24.0135 66.0349 13.4658 65.6882C12.3308 58.9495 9.51124 51.1039 6.27559 42.1003C4.32115 36.6619 2.21488 30.801 0.236334 24.5064Z" )
  }


  .crumbs {
    position: absolute;
    top: 290px;
    left: 230px;
    width: 400px;
    height: 400px;
    filter: contrast(100%) brightness(100%);
    background: 	
      linear-gradient(5deg, rgba(83,64,33,0.8), rgba(118,85,32,0.6)), 	url('/noise.svg');
    clip-path: path(evenodd, "M65.4999 3.5C64.2999 2.7 64.9999 0.833333 65.4999 0C67.4999 0 69.9999 0 69.9999 3.5C69.9999 6.63631 67.591 4.95478 66.011 3.85191C65.8278 3.72402 65.6558 3.60391 65.4999 3.5ZM76.2079 16.5495C75.1491 14.344 71.3945 10.1514 67.9999 11C64.7999 11.8 61.6666 16.6667 60.4999 19C59.4999 20 57.7999 22.5 58.9999 24.5C59.8895 25.9827 60.4274 26.4102 61.3436 27.1383C61.9723 27.638 62.7791 28.2792 63.9999 29.5C66.9999 32.5 72.4999 36 74.9999 36C75.0863 36 75.1656 35.9982 75.2381 35.9946C76.5409 36.3671 77.6799 36.0597 77.9999 33.5C78.1602 32.2177 78.526 31.2437 78.8503 30.3803C79.5375 28.5505 80.0382 27.2177 77.9999 24.5C76.7728 22.8639 76.7169 20.9768 76.6687 19.352C76.6357 18.2402 76.6064 17.2512 76.2079 16.5495ZM20.348 30.0927C21.0949 29.6935 21.6686 29.1626 21.9999 28.5C21.9999 28.1147 21.8909 27.4714 21.7448 26.6097C21.4485 24.8617 20.9999 22.215 20.9999 19C20.9999 14.194 17.4712 14.5208 14.0111 14.8412C13.1514 14.9208 12.2959 15 11.4999 15C8.2999 15 3.66657 19 2.4999 21L2.53972 21.0398C0.793365 23.2372 -1.04074 27.2961 2.99968 29.5C4.27199 30.194 5.51755 30.995 6.7178 31.7669C10.706 34.3317 14.1939 36.5747 16.4999 33.5C17.5556 32.0924 18.6114 31.3658 19.4056 30.8193C19.7914 30.5538 20.1155 30.3307 20.348 30.0927ZM44.0313 35.1303C43.928 34.4847 43.7579 33.7739 43.4999 33C42.4642 29.893 41.9053 30.123 40.8356 30.5631C40.356 30.7604 39.7738 31 38.9999 31C37.5694 31 37.6736 33.3021 37.849 37.1746C37.9131 38.5892 37.9866 40.2133 37.9983 42.0114C37.6105 44.7992 41.5026 44.4993 43.4999 44C44.1666 43.3333 45.3999 41.4 44.9999 39C44.9203 38.5221 44.866 38.095 44.8169 37.7085C44.6748 36.5906 44.576 35.8127 44.0313 35.1303ZM6.50003 7C5.30003 5.8 7.00003 5.16667 8.00003 5C9.20003 5 10.4999 6.33333 10.9999 7C9.99994 7.5 7.70003 8.2 6.50003 7ZM54.9999 20C53.7999 20 54.4999 18 54.9999 17L57.4999 18C57.1666 18.6667 56.1999 20 54.9999 20Z");
  }
  
  .crumbs::after {
    position: absolute;
    content: '';
    width: 400px;
    height: 400px;
    background-color: #271B02;
    clip-path: path(evenodd, "M65.5 0C65 0.833333 64.3 2.7 65.5 3.5C65.6559 3.60391 65.8279 3.72402 66.0111 3.85191C67.5911 4.95478 70 6.63631 70 3.5C70 0 67.5 0 65.5 0ZM65.5 22.5C64.8333 24.3333 64.2 28.3 67 29.5C69.028 30.3691 70.0488 31.7419 70.9377 32.9373C71.583 33.8051 72.1588 34.5794 73 35C73.1043 35.0521 73.2099 35.1056 73.3165 35.1596C75.2552 36.1415 77.5261 37.2915 78 33.5C78.1603 32.2177 78.5261 31.2437 78.8504 30.3803C79.5376 28.5505 80.0383 27.2177 78 24.5C76.7729 22.8639 76.717 20.9768 76.6688 19.352C76.5992 17.0045 76.5458 15.2045 73 15.5C68.2 15.9 66 20.3333 65.5 22.5ZM2.99978 20.5C1.16645 22.5 -1.40022 27.1 2.99978 29.5C4.27209 30.194 5.51765 30.995 6.7179 31.7669C10.7061 34.3317 14.194 36.5747 16.5 33.5C17.5557 32.0924 18.6115 31.3658 19.4057 30.8193C20.8684 29.8127 21.4443 29.4164 19.5 26.5C18.3191 24.7286 18.3003 23.1122 18.2848 21.7727C18.2608 19.7094 18.2445 18.3032 14 18C8.4 17.6 4.33319 19.5 2.99978 20.5ZM38 42C37.6 44.8 41.5 44.5 43.5 44C44.1667 43.3333 45.4 41.4 45 39C44.9204 38.5221 44.8661 38.095 44.817 37.7085C44.5578 35.6687 44.4425 34.7611 41.5 33.5C38.7341 32.3146 38.4662 36.1253 38.2288 39.5033V39.5034C38.1657 40.3999 38.1049 41.2659 38 42ZM8.00014 5C7.00014 5.16667 5.30014 5.8 6.50014 7C7.70014 8.2 10 7.5 11 7C10.5 6.33333 9.20014 5 8.00014 5Z");   
  }
  
    .sparkle{
      position: absolute;
      width: 400px;
      height: 400px;
      color: white;
      z-index: 8;
      animation: glitter 2s  infinite linear;
      animation-delay: var(--shine-delay);
      top: var(--shine-top);
      left: var(--shine-left);
    }


    .sparkle::after {
      position: absolute;
      content: '✦';
      width: 50px;
      height: 50px;
    }



    .shine {
      position: absolute;
      width: 400px;
      height: 400px;
      color: white;
      opacity: 0.02;
      top: 89px;
      left: 32px;
      clip-path: path(evenodd,"M305.5 97.7583C330.776 87.4146 346 74.0688 346 59.5C346 26.639 268.545 0 173 0C79.9004 0 3.97754 25.2926 0.151367 56.989C11.0586 79.6281 45.4028 112.166 155.305 114.826C155.98 113.584 156.618 111.007 157.166 107.685C159.469 104.636 163.881 101.494 172.153 98.5C176.566 96.9023 179.967 94.55 183.438 92.1498C191.913 86.2872 200.802 80.1387 225.875 84C238.918 86.0087 247.138 83.8787 254.583 81.9496C267.078 78.7117 277.39 76.0397 304.655 94.4542C304.733 95.3564 304.8 96.3018 304.856 97.2855L305.5 97.7583Z"
      );
    }

    .shine::after {
      content: "";
      position: absolute;     
      width: 100%;
      height: 100%;
      clip-path: path("M146.5 0L52 223.5H0L86 0H146.5Z");
      animation: move 4s infinite ease-in-out;
      background: 	
      linear-gradient(5deg, rgba(222, 220, 216, 0.2), rgba(241, 223, 193, 0.2)), 	url('/noise.svg');
    }
    
    @keyframes glitter {
      0% {
        -webkit-transform: translate(0,50px), scale(0.0) ;
       
        opacity: 0;
      }
      25% {
        -webkit-transform: translate(0,10px), scale(1) ;
  
        opacity: 1;
      }
      50% {
        -webkit-transform: translate(0,0px), scale(0.3);
    
        opacity: 0.5;

      }
      100% {
        -webkit-transform: translate(0,0px), scale(0.);
        opacity: 0;

      }
    }

    @keyframes move {
      0% {
        -webkit-transform: translate(-300px,0);
        opacity: 0;
       
      
      }
      25% {
        opacity: 1;

      }
      50% {
        -webkit-transform: translate(400px,0);
        opacity:1;

      }
    
      100% {
        -webkit-transform: translate(400px,0);

      }
    }
