
.flag {
 --color-sky: #8df8fe;
 --color-red: #d30a0a;
 --color-orange: #ec7b02;
 --color-yellow: #fefa07;
 --color-green: #01c601;
 --color-blue: #0064f0;
 --color-violet: #7207fe;
  width: 400px;
  height: 400px;
  background-color: var(--color-sky);
  overflow: hidden;
}

.flag__container {
    width: 320px;
    height: 320px;
    transform: translate(35%, 25%);
    display: flex;
}

.flag__container__stick {
    height: 336px;
    width: 8px;
    background-color: #000000 ;
    box-shadow: 
    0px -8px var(--color-sky),
    -16px 8px black,
    -8px 296px #4f2c02,
    -8px 280px  #9e5803,
    -8px 272px #4f2c02,
    -8px 264px  #9e5803,
    -8px 232px #4f2c02,
    -8px 224px  #9e5803,
    -8px 8px #4f2c02,
    
    -8px 0px black;
 
}

.flag__container__pixels {
    height: 8px;
    width: 8px;
    animation: flag 3s infinite; 
    box-shadow: 
  160px 144px  var(--color-violet),
  160px 136px  var(--color-violet),
  160px 128px  var(--color-violet),
  160px 120px  var(--color-blue),
  160px 112px  var(--color-blue),
  160px 104px  var(--color-blue),
  160px 96px  var(--color-green),
  160px 88px  var(--color-green),
  160px 80px  var(--color-green),
  160px 72px  var(--color-yellow),
  160px 64px  var(--color-yellow),
  160px 56px  var(--color-yellow),
  160px 48px  var(--color-orange),
  160px 40px  var(--color-orange),
  160px 32px  var(--color-orange), 
  160px 24px  var(--color-red), 
  160px 16px  var(--color-red),
  160px 8px  var(--color-red),

  152px 152px  var(--color-violet),
  152px 144px  var(--color-violet),
  152px 136px  var(--color-violet),
  152px 128px  var(--color-blue),
  152px 120px  var(--color-blue),
  152px 112px  var(--color-blue),
  152px 104px  var(--color-green),
  152px 96px  var(--color-green),
  152px 88px  var(--color-green),
  152px 80px  var(--color-yellow),
  152px 72px  var(--color-yellow),
  152px 64px  var(--color-yellow),
  152px 56px  var(--color-orange),
  152px 48px  var(--color-orange),
  152px 40px  var(--color-orange),
  152px 32px  var(--color-red), 
  152px 24px  var(--color-red), 
  152px 16px  var(--color-red),

  144px 152px  var(--color-violet),
  144px 144px  var(--color-violet),
  144px 136px  var(--color-violet),
  144px 128px  var(--color-blue),
  144px 120px  var(--color-blue),
  144px 112px  var(--color-blue),
  144px 104px  var(--color-green),
  144px 96px  var(--color-green),
  144px 88px  var(--color-green),
  144px 80px  var(--color-yellow),
  144px 72px  var(--color-yellow),
  144px 64px  var(--color-yellow),
  144px 56px  var(--color-orange),
  144px 48px  var(--color-orange),
  144px 40px  var(--color-orange),
  144px 32px  var(--color-red), 
  144px 24px  var(--color-red), 
  144px 16px  var(--color-red),

  136px 152px  var(--color-violet),
  136px 144px  var(--color-violet),
  136px 136px  var(--color-violet),
  136px 128px  var(--color-blue),
  136px 120px  var(--color-blue),
  136px 112px  var(--color-blue),
  136px 104px  var(--color-green),
  136px 96px  var(--color-green),
  136px 88px  var(--color-green),
  136px 80px  var(--color-yellow),
  136px 72px  var(--color-yellow),
  136px 64px  var(--color-yellow),
  136px 56px  var(--color-orange),
  136px 48px  var(--color-orange),
  136px 40px  var(--color-orange),
  136px 32px  var(--color-red), 
  136px 24px  var(--color-red), 
  136px 16px  var(--color-red),

  128px 152px  var(--color-violet),
  128px 144px  var(--color-violet),
  128px 136px  var(--color-violet),
  128px 128px  var(--color-blue),
  128px 120px  var(--color-blue),
  128px 112px  var(--color-blue),
  128px 104px  var(--color-green),
  128px 96px  var(--color-green),
  128px 88px  var(--color-green),
  128px 80px  var(--color-yellow),
  128px 72px  var(--color-yellow),
  128px 64px  var(--color-yellow),
  128px 56px  var(--color-orange),
  128px 48px  var(--color-orange),
  128px 40px  var(--color-orange),
  128px 32px  var(--color-red), 
  128px 24px  var(--color-red), 
  128px 16px  var(--color-red),

  120px 152px  var(--color-violet),
  120px 144px  var(--color-violet),
  120px 136px  var(--color-violet),
  120px 128px  var(--color-blue),
  120px 120px  var(--color-blue),
  120px 112px  var(--color-blue),
  120px 104px  var(--color-green),
  120px 96px  var(--color-green),
  120px 88px  var(--color-green),
  120px 80px  var(--color-yellow),
  120px 72px  var(--color-yellow),
  120px 64px  var(--color-yellow),
  120px 56px  var(--color-orange),
  120px 48px  var(--color-orange),
  120px 40px  var(--color-orange),
  120px 32px  var(--color-red), 
  120px 24px  var(--color-red), 
  120px 16px  var(--color-red),

  112px 144px  var(--color-violet),
  112px 136px  var(--color-violet),
  112px 128px  var(--color-violet),
  112px 120px  var(--color-blue),
  112px 112px  var(--color-blue),
  112px 104px  var(--color-blue),
  112px 96px  var(--color-green),
  112px 88px  var(--color-green),
  112px 80px  var(--color-green),
  112px 72px  var(--color-yellow),
  112px 64px  var(--color-yellow),
  112px 56px  var(--color-yellow),
  112px 48px  var(--color-orange),
  112px 40px  var(--color-orange),
  112px 32px  var(--color-orange), 
  112px 24px  var(--color-red), 
  112px 16px  var(--color-red),
  112px 8px  var(--color-red),

  104px 144px  var(--color-violet),
  104px 136px  var(--color-violet),
  104px 128px  var(--color-violet),
  104px 120px  var(--color-blue),
  104px 112px  var(--color-blue),
  104px 104px  var(--color-blue),
  104px 96px  var(--color-green),
  104px 88px  var(--color-green),
  104px 80px  var(--color-green),
  104px 72px  var(--color-yellow),
  104px 64px  var(--color-yellow),
  104px 56px  var(--color-yellow),
  104px 48px  var(--color-orange),
  104px 40px  var(--color-orange),
  104px 32px  var(--color-orange), 
  104px 24px  var(--color-red), 
  104px 16px  var(--color-red),
  104px 8px  var(--color-red),

  96px 144px  var(--color-violet),
  96px 136px  var(--color-violet),
  96px 128px  var(--color-violet),
  96px 120px  var(--color-blue),
  96px 112px  var(--color-blue),
  96px 104px  var(--color-blue),
  96px 96px  var(--color-green),
  96px 88px  var(--color-green),
  96px 80px  var(--color-green),
  96px 72px  var(--color-yellow),
  96px 64px  var(--color-yellow),
  96px 56px  var(--color-yellow),
  96px 48px  var(--color-orange),
  96px 40px  var(--color-orange),
  96px 32px  var(--color-orange), 
  96px 24px  var(--color-red), 
  96px 16px  var(--color-red),
  96px 8px  var(--color-red),

  88px 144px  var(--color-violet),
  88px 136px  var(--color-violet),
  88px 128px  var(--color-violet),
  88px 120px  var(--color-blue),
  88px 112px  var(--color-blue),
  88px 104px  var(--color-blue),
  88px 96px  var(--color-green),
  88px 88px  var(--color-green),
  88px 80px  var(--color-green),
  88px 72px  var(--color-yellow),
  88px 64px  var(--color-yellow),
  88px 56px  var(--color-yellow),
  88px 48px  var(--color-orange),
  88px 40px  var(--color-orange),
  88px 32px  var(--color-orange), 
  88px 24px  var(--color-red), 
  88px 16px  var(--color-red),
  88px 8px  var(--color-red),

  80px 144px  var(--color-violet),
  80px 136px  var(--color-violet),
  80px 128px  var(--color-violet),
  80px 120px  var(--color-blue),
  80px 112px  var(--color-blue),
  80px 104px  var(--color-blue),
  80px 96px  var(--color-green),
  80px 88px  var(--color-green),
  80px 80px  var(--color-green),
  80px 72px  var(--color-yellow),
  80px 64px  var(--color-yellow),
  80px 56px  var(--color-yellow),
  80px 48px  var(--color-orange),
  80px 40px  var(--color-orange),
  80px 32px  var(--color-orange), 
  80px 24px  var(--color-red), 
  80px 16px  var(--color-red),
  80px 8px  var(--color-red),

  72px 144px  var(--color-violet),
  72px 136px  var(--color-violet),
  72px 128px  var(--color-violet),
  72px 120px  var(--color-blue),
  72px 112px  var(--color-blue),
  72px 104px  var(--color-blue),
  72px 96px  var(--color-green),
  72px 88px  var(--color-green),
  72px 80px  var(--color-green),
  72px 72px  var(--color-yellow),
  72px 64px  var(--color-yellow),
  72px 56px  var(--color-yellow),
  72px 48px  var(--color-orange),
  72px 40px  var(--color-orange),
  72px 32px  var(--color-orange), 
  72px 24px  var(--color-red), 
  72px 16px  var(--color-red),
  72px 8px  var(--color-red),

  64px 144px  var(--color-violet),
  64px 136px  var(--color-violet),
  64px 128px  var(--color-violet),
  64px 120px  var(--color-blue),
  64px 112px  var(--color-blue),
  64px 104px  var(--color-blue),
  64px 96px  var(--color-green),
  64px 88px  var(--color-green),
  64px 80px  var(--color-green),
  64px 72px  var(--color-yellow),
  64px 64px  var(--color-yellow),
  64px 56px  var(--color-yellow),
  64px 48px  var(--color-orange),
  64px 40px  var(--color-orange),
  64px 32px  var(--color-orange), 
  64px 24px  var(--color-red), 
  64px 16px  var(--color-red),
  64px 8px  var(--color-red),


  56px 152px  var(--color-violet),
  56px 144px  var(--color-violet),
  56px 136px  var(--color-violet),
  56px 128px  var(--color-blue),
  56px 120px  var(--color-blue),
  56px 112px  var(--color-blue),
  56px 104px  var(--color-green),
  56px 96px  var(--color-green),
  56px 88px  var(--color-green),
  56px 80px  var(--color-yellow),
  56px 72px  var(--color-yellow),
  56px 64px  var(--color-yellow),
  56px 56px  var(--color-orange),
  56px 48px  var(--color-orange),
  56px 40px  var(--color-orange),
  56px 32px  var(--color-red), 
  56px 24px  var(--color-red), 
  56px 16px  var(--color-red),

  48px 152px  var(--color-violet),
  48px 144px  var(--color-violet),
  48px 136px  var(--color-violet),
  48px 128px  var(--color-blue),
  48px 120px  var(--color-blue),
  48px 112px  var(--color-blue),
  48px 104px  var(--color-green),
  48px 96px  var(--color-green),
  48px 88px  var(--color-green),
  48px 80px  var(--color-yellow),
  48px 72px  var(--color-yellow),
  48px 64px  var(--color-yellow),
  48px 56px  var(--color-orange),
  48px 48px  var(--color-orange),
  48px 40px  var(--color-orange),
  48px 32px  var(--color-red), 
  48px 24px  var(--color-red), 
  48px 16px  var(--color-red),

  40px 152px  var(--color-violet),
  40px 144px  var(--color-violet),
  40px 136px  var(--color-violet),
  40px 128px  var(--color-blue),
  40px 120px  var(--color-blue),
  40px 112px  var(--color-blue),
  40px 104px  var(--color-green),
  40px 96px  var(--color-green),
  40px 88px  var(--color-green),
  40px 80px  var(--color-yellow),
  40px 72px  var(--color-yellow),
  40px 64px  var(--color-yellow),
  40px 56px  var(--color-orange),
  40px 48px  var(--color-orange),
  40px 40px  var(--color-orange),
  40px 32px  var(--color-red), 
  40px 24px  var(--color-red), 
  40px 16px  var(--color-red),

  32px 152px  var(--color-violet),
  32px 144px  var(--color-violet),
  32px 136px  var(--color-violet),
  32px 128px  var(--color-blue),
  32px 120px  var(--color-blue),
  32px 112px  var(--color-blue),
  32px 104px  var(--color-green),
  32px 96px  var(--color-green),
  32px 88px  var(--color-green),
  32px 80px  var(--color-yellow),
  32px 72px  var(--color-yellow),
  32px 64px  var(--color-yellow),
  32px 56px  var(--color-orange),
  32px 48px  var(--color-orange),
  32px 40px  var(--color-orange),
  32px 32px  var(--color-red), 
  32px 24px  var(--color-red), 
  32px 16px  var(--color-red),


  24px 144px  var(--color-violet),
  24px 136px  var(--color-violet),
  24px 128px  var(--color-violet),
  24px 120px  var(--color-blue),
  24px 112px  var(--color-blue),
  24px 104px  var(--color-blue),
  24px 96px  var(--color-green),
  24px 88px  var(--color-green),
  24px 80px  var(--color-green),
  24px 72px  var(--color-yellow),
  24px 64px  var(--color-yellow),
  24px 56px  var(--color-yellow),
  24px 48px  var(--color-orange),
  24px 40px  var(--color-orange),
  24px 32px  var(--color-orange), 
  24px 24px  var(--color-red), 
  24px 16px  var(--color-red),
  24px 8px  var(--color-red),

  16px 144px  var(--color-violet),
  16px 136px  var(--color-violet),
  16px 128px  var(--color-violet),
  16px 120px  var(--color-blue),
  16px 112px  var(--color-blue),
  16px 104px  var(--color-blue),
  16px 96px  var(--color-green),
  16px 88px  var(--color-green),
  16px 80px  var(--color-green),
  16px 72px  var(--color-yellow),
  16px 64px  var(--color-yellow),
  16px 56px  var(--color-yellow),
  16px 48px  var(--color-orange),
  16px 40px  var(--color-orange),
  16px 32px  var(--color-orange), 
  16px 24px  var(--color-red), 
  16px 16px  var(--color-red),
  16px 8px  var(--color-red),

  8px 144px  var(--color-violet),
  8px 136px  var(--color-violet),
  8px 128px  var(--color-violet),
  8px 120px  var(--color-blue),
  8px 112px  var(--color-blue),
  8px 104px  var(--color-blue),
  8px 96px  var(--color-green),
  8px 88px  var(--color-green),
  8px 80px  var(--color-green),
  8px 72px  var(--color-yellow),
  8px 64px  var(--color-yellow),
  8px 56px  var(--color-yellow),
  8px 48px  var(--color-orange),
  8px 40px  var(--color-orange),
  8px 32px  var(--color-orange), 
  8px 24px  var(--color-red), 
  8px 16px  var(--color-red),
  8px 8px  var(--color-red),

  0px 144px  var(--color-violet),
  0px 136px  var(--color-violet),
  0px 128px  var(--color-violet),
  0px 120px  var(--color-blue),
  0px 112px  var(--color-blue),
  0px 104px  var(--color-blue),
  0px 96px  var(--color-green),
  0px 88px  var(--color-green),
  0px 80px  var(--color-green),
  0px 72px  var(--color-yellow),
  0px 64px  var(--color-yellow),
  0px 56px  var(--color-yellow),
  0px 48px  var(--color-orange),
  0px 40px  var(--color-orange),
  0px 32px  var(--color-orange), 
  0px 24px  var(--color-red), 
  0px 16px  var(--color-red),
  0px 8px  var(--color-red);
}

@keyframes flag {
    0% {
        box-shadow: 
      160px 144px  var(--color-violet),
      160px 136px  var(--color-violet),
      160px 128px  var(--color-violet),
      160px 120px  var(--color-blue),
      160px 112px  var(--color-blue),
      160px 104px  var(--color-blue),
      160px 96px  var(--color-green),
      160px 88px  var(--color-green),
      160px 80px  var(--color-green),
      160px 72px  var(--color-yellow),
      160px 64px  var(--color-yellow),
      160px 56px  var(--color-yellow),
      160px 48px  var(--color-orange),
      160px 40px  var(--color-orange),
      160px 32px  var(--color-orange), 
      160px 24px  var(--color-red), 
      160px 16px  var(--color-red),
      160px 8px  var(--color-red),
    
      152px 152px  var(--color-violet),
      152px 144px  var(--color-violet),
      152px 136px  var(--color-violet),
      152px 128px  var(--color-blue),
      152px 120px  var(--color-blue),
      152px 112px  var(--color-blue),
      152px 104px  var(--color-green),
      152px 96px  var(--color-green),
      152px 88px  var(--color-green),
      152px 80px  var(--color-yellow),
      152px 72px  var(--color-yellow),
      152px 64px  var(--color-yellow),
      152px 56px  var(--color-orange),
      152px 48px  var(--color-orange),
      152px 40px  var(--color-orange),
      152px 32px  var(--color-red), 
      152px 24px  var(--color-red), 
      152px 16px  var(--color-red),
    
      144px 152px  var(--color-violet),
      144px 144px  var(--color-violet),
      144px 136px  var(--color-violet),
      144px 128px  var(--color-blue),
      144px 120px  var(--color-blue),
      144px 112px  var(--color-blue),
      144px 104px  var(--color-green),
      144px 96px  var(--color-green),
      144px 88px  var(--color-green),
      144px 80px  var(--color-yellow),
      144px 72px  var(--color-yellow),
      144px 64px  var(--color-yellow),
      144px 56px  var(--color-orange),
      144px 48px  var(--color-orange),
      144px 40px  var(--color-orange),
      144px 32px  var(--color-red), 
      144px 24px  var(--color-red), 
      144px 16px  var(--color-red),
    
      136px 152px  var(--color-violet),
      136px 144px  var(--color-violet),
      136px 136px  var(--color-violet),
      136px 128px  var(--color-blue),
      136px 120px  var(--color-blue),
      136px 112px  var(--color-blue),
      136px 104px  var(--color-green),
      136px 96px  var(--color-green),
      136px 88px  var(--color-green),
      136px 80px  var(--color-yellow),
      136px 72px  var(--color-yellow),
      136px 64px  var(--color-yellow),
      136px 56px  var(--color-orange),
      136px 48px  var(--color-orange),
      136px 40px  var(--color-orange),
      136px 32px  var(--color-red), 
      136px 24px  var(--color-red), 
      136px 16px  var(--color-red),
    
      128px 152px  var(--color-violet),
      128px 144px  var(--color-violet),
      128px 136px  var(--color-violet),
      128px 128px  var(--color-blue),
      128px 120px  var(--color-blue),
      128px 112px  var(--color-blue),
      128px 104px  var(--color-green),
      128px 96px  var(--color-green),
      128px 88px  var(--color-green),
      128px 80px  var(--color-yellow),
      128px 72px  var(--color-yellow),
      128px 64px  var(--color-yellow),
      128px 56px  var(--color-orange),
      128px 48px  var(--color-orange),
      128px 40px  var(--color-orange),
      128px 32px  var(--color-red), 
      128px 24px  var(--color-red), 
      128px 16px  var(--color-red),
    
      120px 152px  var(--color-violet),
      120px 144px  var(--color-violet),
      120px 136px  var(--color-violet),
      120px 128px  var(--color-blue),
      120px 120px  var(--color-blue),
      120px 112px  var(--color-blue),
      120px 104px  var(--color-green),
      120px 96px  var(--color-green),
      120px 88px  var(--color-green),
      120px 80px  var(--color-yellow),
      120px 72px  var(--color-yellow),
      120px 64px  var(--color-yellow),
      120px 56px  var(--color-orange),
      120px 48px  var(--color-orange),
      120px 40px  var(--color-orange),
      120px 32px  var(--color-red), 
      120px 24px  var(--color-red), 
      120px 16px  var(--color-red),
    
      112px 144px  var(--color-violet),
      112px 136px  var(--color-violet),
      112px 128px  var(--color-violet),
      112px 120px  var(--color-blue),
      112px 112px  var(--color-blue),
      112px 104px  var(--color-blue),
      112px 96px  var(--color-green),
      112px 88px  var(--color-green),
      112px 80px  var(--color-green),
      112px 72px  var(--color-yellow),
      112px 64px  var(--color-yellow),
      112px 56px  var(--color-yellow),
      112px 48px  var(--color-orange),
      112px 40px  var(--color-orange),
      112px 32px  var(--color-orange), 
      112px 24px  var(--color-red), 
      112px 16px  var(--color-red),
      112px 8px  var(--color-red),
    
      104px 144px  var(--color-violet),
      104px 136px  var(--color-violet),
      104px 128px  var(--color-violet),
      104px 120px  var(--color-blue),
      104px 112px  var(--color-blue),
      104px 104px  var(--color-blue),
      104px 96px  var(--color-green),
      104px 88px  var(--color-green),
      104px 80px  var(--color-green),
      104px 72px  var(--color-yellow),
      104px 64px  var(--color-yellow),
      104px 56px  var(--color-yellow),
      104px 48px  var(--color-orange),
      104px 40px  var(--color-orange),
      104px 32px  var(--color-orange), 
      104px 24px  var(--color-red), 
      104px 16px  var(--color-red),
      104px 8px  var(--color-red),
    
      96px 144px  var(--color-violet),
      96px 136px  var(--color-violet),
      96px 128px  var(--color-violet),
      96px 120px  var(--color-blue),
      96px 112px  var(--color-blue),
      96px 104px  var(--color-blue),
      96px 96px  var(--color-green),
      96px 88px  var(--color-green),
      96px 80px  var(--color-green),
      96px 72px  var(--color-yellow),
      96px 64px  var(--color-yellow),
      96px 56px  var(--color-yellow),
      96px 48px  var(--color-orange),
      96px 40px  var(--color-orange),
      96px 32px  var(--color-orange), 
      96px 24px  var(--color-red), 
      96px 16px  var(--color-red),
      96px 8px  var(--color-red),
    
      88px 144px  var(--color-violet),
      88px 136px  var(--color-violet),
      88px 128px  var(--color-violet),
      88px 120px  var(--color-blue),
      88px 112px  var(--color-blue),
      88px 104px  var(--color-blue),
      88px 96px  var(--color-green),
      88px 88px  var(--color-green),
      88px 80px  var(--color-green),
      88px 72px  var(--color-yellow),
      88px 64px  var(--color-yellow),
      88px 56px  var(--color-yellow),
      88px 48px  var(--color-orange),
      88px 40px  var(--color-orange),
      88px 32px  var(--color-orange), 
      88px 24px  var(--color-red), 
      88px 16px  var(--color-red),
      88px 8px  var(--color-red),
    
      80px 144px  var(--color-violet),
      80px 136px  var(--color-violet),
      80px 128px  var(--color-violet),
      80px 120px  var(--color-blue),
      80px 112px  var(--color-blue),
      80px 104px  var(--color-blue),
      80px 96px  var(--color-green),
      80px 88px  var(--color-green),
      80px 80px  var(--color-green),
      80px 72px  var(--color-yellow),
      80px 64px  var(--color-yellow),
      80px 56px  var(--color-yellow),
      80px 48px  var(--color-orange),
      80px 40px  var(--color-orange),
      80px 32px  var(--color-orange), 
      80px 24px  var(--color-red), 
      80px 16px  var(--color-red),
      80px 8px  var(--color-red),
    
      72px 144px  var(--color-violet),
      72px 136px  var(--color-violet),
      72px 128px  var(--color-violet),
      72px 120px  var(--color-blue),
      72px 112px  var(--color-blue),
      72px 104px  var(--color-blue),
      72px 96px  var(--color-green),
      72px 88px  var(--color-green),
      72px 80px  var(--color-green),
      72px 72px  var(--color-yellow),
      72px 64px  var(--color-yellow),
      72px 56px  var(--color-yellow),
      72px 48px  var(--color-orange),
      72px 40px  var(--color-orange),
      72px 32px  var(--color-orange), 
      72px 24px  var(--color-red), 
      72px 16px  var(--color-red),
      72px 8px  var(--color-red),
    
      64px 144px  var(--color-violet),
      64px 136px  var(--color-violet),
      64px 128px  var(--color-violet),
      64px 120px  var(--color-blue),
      64px 112px  var(--color-blue),
      64px 104px  var(--color-blue),
      64px 96px  var(--color-green),
      64px 88px  var(--color-green),
      64px 80px  var(--color-green),
      64px 72px  var(--color-yellow),
      64px 64px  var(--color-yellow),
      64px 56px  var(--color-yellow),
      64px 48px  var(--color-orange),
      64px 40px  var(--color-orange),
      64px 32px  var(--color-orange), 
      64px 24px  var(--color-red), 
      64px 16px  var(--color-red),
      64px 8px  var(--color-red),
    
    
      56px 152px  var(--color-violet),
      56px 144px  var(--color-violet),
      56px 136px  var(--color-violet),
      56px 128px  var(--color-blue),
      56px 120px  var(--color-blue),
      56px 112px  var(--color-blue),
      56px 104px  var(--color-green),
      56px 96px  var(--color-green),
      56px 88px  var(--color-green),
      56px 80px  var(--color-yellow),
      56px 72px  var(--color-yellow),
      56px 64px  var(--color-yellow),
      56px 56px  var(--color-orange),
      56px 48px  var(--color-orange),
      56px 40px  var(--color-orange),
      56px 32px  var(--color-red), 
      56px 24px  var(--color-red), 
      56px 16px  var(--color-red),
    
      48px 152px  var(--color-violet),
      48px 144px  var(--color-violet),
      48px 136px  var(--color-violet),
      48px 128px  var(--color-blue),
      48px 120px  var(--color-blue),
      48px 112px  var(--color-blue),
      48px 104px  var(--color-green),
      48px 96px  var(--color-green),
      48px 88px  var(--color-green),
      48px 80px  var(--color-yellow),
      48px 72px  var(--color-yellow),
      48px 64px  var(--color-yellow),
      48px 56px  var(--color-orange),
      48px 48px  var(--color-orange),
      48px 40px  var(--color-orange),
      48px 32px  var(--color-red), 
      48px 24px  var(--color-red), 
      48px 16px  var(--color-red),
    
      40px 152px  var(--color-violet),
      40px 144px  var(--color-violet),
      40px 136px  var(--color-violet),
      40px 128px  var(--color-blue),
      40px 120px  var(--color-blue),
      40px 112px  var(--color-blue),
      40px 104px  var(--color-green),
      40px 96px  var(--color-green),
      40px 88px  var(--color-green),
      40px 80px  var(--color-yellow),
      40px 72px  var(--color-yellow),
      40px 64px  var(--color-yellow),
      40px 56px  var(--color-orange),
      40px 48px  var(--color-orange),
      40px 40px  var(--color-orange),
      40px 32px  var(--color-red), 
      40px 24px  var(--color-red), 
      40px 16px  var(--color-red),
    
      32px 152px  var(--color-violet),
      32px 144px  var(--color-violet),
      32px 136px  var(--color-violet),
      32px 128px  var(--color-blue),
      32px 120px  var(--color-blue),
      32px 112px  var(--color-blue),
      32px 104px  var(--color-green),
      32px 96px  var(--color-green),
      32px 88px  var(--color-green),
      32px 80px  var(--color-yellow),
      32px 72px  var(--color-yellow),
      32px 64px  var(--color-yellow),
      32px 56px  var(--color-orange),
      32px 48px  var(--color-orange),
      32px 40px  var(--color-orange),
      32px 32px  var(--color-red), 
      32px 24px  var(--color-red), 
      32px 16px  var(--color-red),
    
    
      24px 144px  var(--color-violet),
      24px 136px  var(--color-violet),
      24px 128px  var(--color-violet),
      24px 120px  var(--color-blue),
      24px 112px  var(--color-blue),
      24px 104px  var(--color-blue),
      24px 96px  var(--color-green),
      24px 88px  var(--color-green),
      24px 80px  var(--color-green),
      24px 72px  var(--color-yellow),
      24px 64px  var(--color-yellow),
      24px 56px  var(--color-yellow),
      24px 48px  var(--color-orange),
      24px 40px  var(--color-orange),
      24px 32px  var(--color-orange), 
      24px 24px  var(--color-red), 
      24px 16px  var(--color-red),
      24px 8px  var(--color-red),
    
      16px 144px  var(--color-violet),
      16px 136px  var(--color-violet),
      16px 128px  var(--color-violet),
      16px 120px  var(--color-blue),
      16px 112px  var(--color-blue),
      16px 104px  var(--color-blue),
      16px 96px  var(--color-green),
      16px 88px  var(--color-green),
      16px 80px  var(--color-green),
      16px 72px  var(--color-yellow),
      16px 64px  var(--color-yellow),
      16px 56px  var(--color-yellow),
      16px 48px  var(--color-orange),
      16px 40px  var(--color-orange),
      16px 32px  var(--color-orange), 
      16px 24px  var(--color-red), 
      16px 16px  var(--color-red),
      16px 8px  var(--color-red),
    
      8px 144px  var(--color-violet),
      8px 136px  var(--color-violet),
      8px 128px  var(--color-violet),
      8px 120px  var(--color-blue),
      8px 112px  var(--color-blue),
      8px 104px  var(--color-blue),
      8px 96px  var(--color-green),
      8px 88px  var(--color-green),
      8px 80px  var(--color-green),
      8px 72px  var(--color-yellow),
      8px 64px  var(--color-yellow),
      8px 56px  var(--color-yellow),
      8px 48px  var(--color-orange),
      8px 40px  var(--color-orange),
      8px 32px  var(--color-orange), 
      8px 24px  var(--color-red), 
      8px 16px  var(--color-red),
      8px 8px  var(--color-red),
    
      0px 144px  var(--color-violet),
      0px 136px  var(--color-violet),
      0px 128px  var(--color-violet),
      0px 120px  var(--color-blue),
      0px 112px  var(--color-blue),
      0px 104px  var(--color-blue),
      0px 96px  var(--color-green),
      0px 88px  var(--color-green),
      0px 80px  var(--color-green),
      0px 72px  var(--color-yellow),
      0px 64px  var(--color-yellow),
      0px 56px  var(--color-yellow),
      0px 48px  var(--color-orange),
      0px 40px  var(--color-orange),
      0px 32px  var(--color-orange), 
      0px 24px  var(--color-red), 
      0px 16px  var(--color-red),
      0px 8px  var(--color-red);
    }

    50%  {
        box-shadow: 
        160px 152px  var(--color-violet),
        160px 144px  var(--color-violet),
        160px 136px  var(--color-violet),
        160px 128px  var(--color-blue),
        160px 120px  var(--color-blue),
        160px 112px  var(--color-blue),
        160px 104px var(--color-green),
        160px 96px  var(--color-green),
        160px 88px  var(--color-green),
        160px 80px  var(--color-yellow),
        160px 72px  var(--color-yellow),
        160px 64px  var(--color-yellow),
        160px 56px  var(--color-orange),
        160px 48px  var(--color-orange),
        160px 40px  var(--color-orange), 
        160px 32px  var(--color-red), 
        160px 24px  var(--color-red),
        160px 16px var(--color-red),
      
        152px 144px  var(--color-violet),
        152px 136px  var(--color-violet),
        152px 128px  var(--color-violet),
        152px 120px  var(--color-blue),
        152px 112px  var(--color-blue),
        152px 104px  var(--color-blue),
        152px 96px   var(--color-green),
        152px 88px  var(--color-green),
        152px 80px  var(--color-green),
        152px 72px  var(--color-yellow),
        152px 64px  var(--color-yellow),
        152px 56px  var(--color-yellow),
        152px 48px  var(--color-orange),
        152px 40px  var(--color-orange),
        152px 32px  var(--color-orange),
        152px 24px  var(--color-red), 
        152px 16px  var(--color-red), 
        152px 8px   var(--color-red),
      
        144px 136px  var(--color-violet),
        144px 128px  var(--color-violet),
        144px 120px  var(--color-violet),
        144px 112px  var(--color-blue),
        144px 104px  var(--color-blue),
        144px 96px   var(--color-blue),
        144px 88px   var(--color-green),
        144px 80px  var(--color-green),
        144px 72px  var(--color-green),
        144px 64px  var(--color-yellow),
        144px 56px  var(--color-yellow),
        144px 48px  var(--color-yellow),
        144px 40px  var(--color-orange),
        144px 32px  var(--color-orange),
        144px 24px  var(--color-orange),
        144px 16px  var(--color-red), 
        144px 8px   var(--color-red), 
        144px 0px   var(--color-red),
      
        136px 136px  var(--color-violet),
        136px 128px  var(--color-violet),
        136px 120px  var(--color-violet),
        136px 112px  var(--color-blue),
        136px 104px  var(--color-blue),
        136px 96px   var(--color-blue),
        136px 88px   var(--color-green),
        136px 80px  var(--color-green),
        136px 72px  var(--color-green),
        136px 64px  var(--color-yellow),
        136px 56px  var(--color-yellow),
        136px 48px  var(--color-yellow),
        136px 40px  var(--color-orange),
        136px 32px  var(--color-orange),
        136px 24px  var(--color-orange),
        136px 16px  var(--color-red), 
        136px 8px   var(--color-red), 
        136px 0px   var(--color-red),
      
        128px 136px  var(--color-violet),
        128px 128px  var(--color-violet),
        128px 120px  var(--color-violet),
        128px 112px  var(--color-blue),
        128px 104px  var(--color-blue),
        128px 96px   var(--color-blue),
        128px 88px   var(--color-green),
        128px 80px  var(--color-green),
        128px 72px  var(--color-green),
        128px 64px  var(--color-yellow),
        128px 56px  var(--color-yellow),
        128px 48px  var(--color-yellow),
        128px 40px  var(--color-orange),
        128px 32px  var(--color-orange),
        128px 24px  var(--color-orange),
        128px 16px  var(--color-red), 
        128px 8px   var(--color-red), 
        128px 0px   var(--color-red),
      
        120px 136px  var(--color-violet),
        120px 128px  var(--color-violet),
        120px 120px  var(--color-violet),
        120px 112px  var(--color-blue),
        120px 104px  var(--color-blue),
        120px 96px   var(--color-blue),
        120px 88px   var(--color-green),
        120px 80px  var(--color-green),
        120px 72px  var(--color-green),
        120px 64px  var(--color-yellow),
        120px 56px  var(--color-yellow),
        120px 48px  var(--color-yellow),
        120px 40px  var(--color-orange),
        120px 32px  var(--color-orange),
        120px 24px  var(--color-orange),
        120px 16px  var(--color-red), 
        120px 8px   var(--color-red), 
        120px 0px   var(--color-red),
      
        112px 136px  var(--color-violet),
        112px 128px  var(--color-violet),
        112px 120px  var(--color-violet),
        112px 112px  var(--color-blue),
        112px 104px  var(--color-blue),
        112px 96px   var(--color-blue),
        112px 88px  var(--color-green),
        112px 80px  var(--color-green),
        112px 72px  var(--color-green),
        112px 64px  var(--color-yellow),
        112px 56px  var(--color-yellow),
        112px 48px  var(--color-yellow),
        112px 40px  var(--color-orange),
        112px 32px  var(--color-orange),
        112px 24px  var(--color-orange), 
        112px 16px  var(--color-red), 
        112px 8px   var(--color-red),
        112px 0px  var(--color-red),
      
        104px 128px  var(--color-violet),
        104px 120px  var(--color-violet),
        104px 112px  var(--color-violet),
        104px 104px  var(--color-blue),
        104px 96px   var(--color-blue),
        104px 88px   var(--color-blue),
        104px 80px  var(--color-green),
        104px 72px  var(--color-green),
        104px 64px  var(--color-green),
        104px 56px  var(--color-yellow),
        104px 48px  var(--color-yellow),
        104px 40px  var(--color-yellow),
        104px 32px  var(--color-orange),
        104px 24px  var(--color-orange),
        104px 16px  var(--color-orange), 
        104px 8px   var(--color-red), 
        104px 0px   var(--color-red),
        104px -8px var(--color-red),
      
        96px 128px  var(--color-violet),
        96px 120px  var(--color-violet),
        96px 112px  var(--color-violet),
        96px 104px  var(--color-blue),
        96px 96px   var(--color-blue),
        96px 88px   var(--color-blue),
        96px 80px  var(--color-green),
        96px 72px  var(--color-green),
        96px 64px  var(--color-green),
        96px 56px  var(--color-yellow),
        96px 48px  var(--color-yellow),
        96px 40px  var(--color-yellow),
        96px 32px  var(--color-orange),
        96px 24px  var(--color-orange),
        96px 16px  var(--color-orange), 
        96px 8px   var(--color-red), 
        96px 0px   var(--color-red),
        96px -8px var(--color-red),
      
        88px 128px  var(--color-violet),
        88px 120px  var(--color-violet),
        88px 112px  var(--color-violet),
        88px 104px  var(--color-blue),
        88px 96px   var(--color-blue),
        88px 88px   var(--color-blue),
        88px 80px  var(--color-green),
        88px 72px  var(--color-green),
        88px 64px  var(--color-green),
        88px 56px  var(--color-yellow),
        88px 48px  var(--color-yellow),
        88px 40px  var(--color-yellow),
        88px 32px  var(--color-orange),
        88px 24px  var(--color-orange),
        88px 16px  var(--color-orange), 
        88px 8px   var(--color-red), 
        88px 0px   var(--color-red),
        88px -8px var(--color-red),
      
        80px 128px  var(--color-violet),
        80px 120px  var(--color-violet),
        80px 112px  var(--color-violet),
        80px 104px  var(--color-blue),
        80px 96px   var(--color-blue),
        80px 88px   var(--color-blue),
        80px 80px  var(--color-green),
        80px 72px  var(--color-green),
        80px 64px  var(--color-green),
        80px 56px  var(--color-yellow),
        80px 48px  var(--color-yellow),
        80px 40px  var(--color-yellow),
        80px 32px  var(--color-orange),
        80px 24px  var(--color-orange),
        80px 16px  var(--color-orange), 
        80px 8px   var(--color-red), 
        80px 0px   var(--color-red),
        80px -8px var(--color-red),
      
        72px 128px  var(--color-violet),
        72px 120px  var(--color-violet),
        72px 112px  var(--color-violet),
        72px 104px  var(--color-blue),
        72px 96px   var(--color-blue),
        72px 88px   var(--color-blue),
        72px 80px  var(--color-green),
        72px 72px  var(--color-green),
        72px 64px  var(--color-green),
        72px 56px  var(--color-yellow),
        72px 48px  var(--color-yellow),
        72px 40px  var(--color-yellow),
        72px 32px  var(--color-orange),
        72px 24px  var(--color-orange),
        72px 16px  var(--color-orange), 
        72px 8px   var(--color-red), 
        72px 0px   var(--color-red),
        72px -8px var(--color-red),
      
        64px 128px  var(--color-violet),
        64px 120px  var(--color-violet),
        64px 112px  var(--color-violet),
        64px 104px  var(--color-blue),
        64px 96px   var(--color-blue),
        64px 88px   var(--color-blue),
        64px 80px   var(--color-green),
        64px 72px  var(--color-green),
        64px 64px  var(--color-green),
        64px 56px  var(--color-yellow),
        64px 48px  var(--color-yellow),
        64px 40px  var(--color-yellow),
        64px 32px  var(--color-orange),
        64px 24px  var(--color-orange),
        64px 16px  var(--color-orange),
        64px 8px   var(--color-red), 
        64px 0px   var(--color-red), 
        64px -8px  var(--color-red),
      
      
        56px 128px  var(--color-violet),
        56px 120px  var(--color-violet),
        56px 112px  var(--color-violet),
        56px 104px  var(--color-blue),
        56px 96px   var(--color-blue),
        56px 88px   var(--color-blue),
        56px 80px   var(--color-green),
        56px 72px  var(--color-green),
        56px 64px  var(--color-green),
        56px 56px  var(--color-yellow),
        56px 48px  var(--color-yellow),
        56px 40px  var(--color-yellow),
        56px 32px  var(--color-orange),
        56px 24px  var(--color-orange),
        56px 16px  var(--color-orange),
        56px 8px   var(--color-red), 
        56px 0px   var(--color-red), 
        56px -8px  var(--color-red),
      
        48px 136px  var(--color-violet),
        48px 128px  var(--color-violet),
        48px 120px  var(--color-violet),
        48px 112px  var(--color-blue),
        48px 104px  var(--color-blue),
        48px 96px  var(--color-blue),
        48px 88px  var(--color-green),
        48px 80px  var(--color-green),
        48px 72px  var(--color-green),
        48px 64px  var(--color-yellow),
        48px 56px  var(--color-yellow),
        48px 48px  var(--color-yellow),
        48px 40px  var(--color-orange),
        48px 32px  var(--color-orange),
        48px 24px  var(--color-orange),
        48px 16px  var(--color-red),
        48px 8px  var(--color-red), 
        48px 0px  var(--color-red), 
       
      
        40px 136px  var(--color-violet),
        40px 128px  var(--color-violet),
        40px 120px  var(--color-violet),
        40px 112px  var(--color-blue),
        40px 104px  var(--color-blue),
        40px 96px  var(--color-blue),
        40px 88px  var(--color-green),
        40px 80px  var(--color-green),
        40px 72px  var(--color-green),
        40px 64px  var(--color-yellow),
        40px 56px  var(--color-yellow),
        40px 48px  var(--color-yellow),
        40px 40px  var(--color-orange),
        40px 32px  var(--color-orange),
        40px 24px  var(--color-orange),
        40px 16px  var(--color-red),
        40px 8px  var(--color-red), 
        40px 0px  var(--color-red), 
      
        32px 136px  var(--color-violet),
        32px 128px  var(--color-violet),
        32px 120px  var(--color-violet),
        32px 112px  var(--color-blue),
        32px 104px  var(--color-blue),
        32px 96px  var(--color-blue),
        32px 88px  var(--color-green),
        32px 80px  var(--color-green),
        32px 72px  var(--color-green),
        32px 64px  var(--color-yellow),
        32px 56px  var(--color-yellow),
        32px 48px  var(--color-yellow),
        32px 40px  var(--color-orange),
        32px 32px  var(--color-orange),
        32px 24px  var(--color-orange),
        32px 16px  var(--color-red),
        32px 8px  var(--color-red), 
        32px 0px  var(--color-red), 
      
       /* --------- */
        24px 144px  var(--color-violet),
        24px 136px  var(--color-violet),
        24px 128px  var(--color-violet),
        24px 120px  var(--color-blue),
        24px 112px  var(--color-blue),
        24px 104px  var(--color-blue),
        24px 96px  var(--color-green),
        24px 88px  var(--color-green),
        24px 80px  var(--color-green),
        24px 72px  var(--color-yellow),
        24px 64px  var(--color-yellow),
        24px 56px  var(--color-yellow),
        24px 48px  var(--color-orange),
        24px 40px  var(--color-orange),
        24px 32px  var(--color-orange), 
        24px 24px  var(--color-red), 
        24px 16px  var(--color-red),
        24px 8px  var(--color-red),
      
        16px 144px  var(--color-violet),
        16px 136px  var(--color-violet),
        16px 128px  var(--color-violet),
        16px 120px  var(--color-blue),
        16px 112px  var(--color-blue),
        16px 104px  var(--color-blue),
        16px 96px  var(--color-green),
        16px 88px  var(--color-green),
        16px 80px  var(--color-green),
        16px 72px  var(--color-yellow),
        16px 64px  var(--color-yellow),
        16px 56px  var(--color-yellow),
        16px 48px  var(--color-orange),
        16px 40px  var(--color-orange),
        16px 32px  var(--color-orange), 
        16px 24px  var(--color-red), 
        16px 16px  var(--color-red),
        16px 8px  var(--color-red),
      
        8px 144px  var(--color-violet),
        8px 136px  var(--color-violet),
        8px 128px  var(--color-violet),
        8px 120px  var(--color-blue),
        8px 112px  var(--color-blue),
        8px 104px  var(--color-blue),
        8px 96px  var(--color-green),
        8px 88px  var(--color-green),
        8px 80px  var(--color-green),
        8px 72px  var(--color-yellow),
        8px 64px  var(--color-yellow),
        8px 56px  var(--color-yellow),
        8px 48px  var(--color-orange),
        8px 40px  var(--color-orange),
        8px 32px  var(--color-orange), 
        8px 24px  var(--color-red), 
        8px 16px  var(--color-red),
        8px 8px  var(--color-red),
      
        0px 144px  var(--color-violet),
        0px 136px  var(--color-violet),
        0px 128px  var(--color-violet),
        0px 120px  var(--color-blue),
        0px 112px  var(--color-blue),
        0px 104px  var(--color-blue),
        0px 96px  var(--color-green),
        0px 88px  var(--color-green),
        0px 80px  var(--color-green),
        0px 72px  var(--color-yellow),
        0px 64px  var(--color-yellow),
        0px 56px  var(--color-yellow),
        0px 48px  var(--color-orange),
        0px 40px  var(--color-orange),
        0px 32px  var(--color-orange), 
        0px 24px  var(--color-red), 
        0px 16px  var(--color-red),
        0px 8px  var(--color-red);

        /* --------- */
    }
}

.flag__cloud {
    height: 136px;
    width: 264px;
    background-color: #ffffff ;
    box-shadow: 
    16px 8px var(--color-sky),
    
}